<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714885268112-mas29envqo2mf2rvl7jctheimtv3iihk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714885268112-mas29envqo2mf2rvl7jctheimtv3iihk</string>
	<key>API_KEY</key>
	<string>AIzaSyCxM9xzo7ahygFwJPIMtgCT8BeK4mJiIvc</string>
	<key>GCM_SENDER_ID</key>
	<string>714885268112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wild5wellness.kickstart30</string>
	<key>PROJECT_ID</key>
	<string>wild5-5ca8b</string>
	<key>STORAGE_BUCKET</key>
	<string>wild5-5ca8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714885268112:ios:cc5bffaa74838592</string>
	<key>DATABASE_URL</key>
	<string>https://wild5-5ca8b.firebaseio.com</string>
</dict>
</plist>